@using ShopBase;

@{
    Order wk = Context.Session.GetObject<Order>("sessionBasket") ?? new Order();
    Picture logo = Picture.GetAll()[0];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        /* CSS-Code */
        @@media (max-width: 1050px) {
           

            button.custom {
                font-size: 1rem;
            }

            main.custom {
                font-size: 1em;
            }

            table.basket {
                min-width: 100%;
            }

            div.center {
                display: flex;
                padding-top: 5%;
                padding-left: 20%;
                padding-right: 20%;
                justify-content: space-between;
            }

            #marketplacesearchbtn {
                vertical-align: bottom;
                background-color: green;
                width: 8em;
                display: initial;
                line-height: 1.8;
                margin-left: 0.3em;
                padding-top: unset;
                padding-bottom: 0.05em;
            }
        }

        @@media (min-width: 1050px) {
  

            img.article{
                width: 150px;
                height: 180px;
            }

            input.check {
                height: 1em !important;
                width: 1em !important;
            }


            table.basket {
                min-width: 100%;
            }

            main.custom {
                font-size: 2em;
            }

            button.custom {
                font-size: 1em;
            }

            div.center {
                display: flex;
                padding-top: 5%;
                padding-left: 35%;
                padding-right: 35%;
                justify-content: space-between;
            }

            div.left {
                display: flex;
                justify-content: space-between;
            }



            #marketplacesearchbtn {
                vertical-align: bottom;
                background-color: green;
                width: 8em;
                margin-left: 0.3em;
                display: initial;
                line-height: 1.55;
                padding-top: unset;
                padding-bottom: 0.1em;
            }
        }

         main {
                font-size: 2em;
            }

        h1 {
            text-transform: uppercase;
            line-height: 2;
            font-weight: 500;
        }

        nav {
            text-transform: uppercase;
            font-size: 1.3em;
            font-weight: bold;
        }

        li {
            margin-right: 0.5em;
        }

        button {
            font-size: 1.5rem;
        }

        input {
            font-size: 1.0em !important;
            height: 1.4em;
        }

        ul {
            display: flex;
        }

        div.container {
            min-width: 90% !important;
        }

        label.left {
            text-align: left;
            margin-bottom: 10px;
        }

        form.max {
            width: 100%;
        }

        h1.boldandleft {
            text-transform: none;
            font-weight: bold;
            text-align: left;
            margin-bottom: 3%;
            line-height: unset;
            font-size: 1em;
        }

        button.btn btn-primary btn-block mb-4 {
            margin-bottom: 5%;
        }

        input.margin {
            margin-bottom: 5%;
        }

        input.displayNone {
            display: none;
        }

        p.false {
            color: red;
            font-size: 2em;
        }

        p.true {
            color: green;
        }

        h4.green {
            color: green;
        }

        table.marketplace {
            background-color: aquamarine;
            margin-top: 1em;
            text-align: left;
            width: 95%;
        }

        td.marketplacename {
            Font-weight: bold;
            width: 55%;
            padding-left: 10px;
        }

        td.marketplaceprice {
            text-align: right;
            font-weight: bold;
            padding-right: 10px;
        }

        td.marketplacecount {
            padding-bottom: 0px;
            padding-left: 10px;
        }

        td.marketplacedesc {
            padding-left: 10px;
        }


        td.marketplacetobasket {
            width: 25%;
        }

        .code {
            margin-left: 5%;
        }

        #central {
            font-family: 'Ink Free';
            font-size: 1.4em;
            min-width: 10em;
        }

        #marketplacetobasketbtn {
            float: right;
            max-width: 80%;
            min-width: 8em;
            margin-right: 10px;
            margin-bottom: 20px;
        }

        #basketbtnCashier {
            margin-top: 5%;
            margin-left: 0%;
            margin-right: 0;
            margin-bottom: 0;
            float: right;
            max-width: 10em;
            background-color: #1B6EC2;
        }

        #basketbtnOrder {
            margin-top: 5%;
            margin-left: 0%;
            margin-right: 0;
            margin-bottom: 0;
            float: right;
            max-width: 14em;
            background-color: green;
        }

        button.basketbtnred {
            margin-top: 5%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            float: left;
            max-width: 10em;
            align-items: center;
            background-color: red !important;
        }

        button.marginleft{
            margin-left: 20px;
        }

        #nonCusBtnRegister {
            margin-top: 5%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            display: flex;
            float: left;
            max-width: 18em;
            align-items: center;
            background-color: #1B6EC2;
        }

        #nonCusBtnLogin {
            margin-top: 5%;
            margin-left: 0%;
            margin-right: 0;
            margin-bottom: 0;
            display: flex;
            float: right;
            align-items: center;
            max-width: 18em;
            background-color: green;
        }

        #red-text {
            color: #F4023F !important;
        }

        #purpel-text {
            color: #F4780F !important;
        }

        #darkblue-text {
            color: #26D727 !important;
        }

        #lightblue-text {
            color: #04B0FA !important;
        }

        #lightred-text {
            color: #F930F5 !important;
        }

width    #loginli {
            margin-right: 5%;
        }


    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspdf-autotable@3/dist/jspdf.plugin.autotable.min.js"></script>
    <script>
        function insertSampleLogin() {
            if (document.getElementById("sampleDataCheck").checked) {
                document.getElementById("loginName").value = "tina@test.de";
                document.getElementById("loginPassword").value = "test";

                hashInputValueLogin();
            }
            else {
                document.getElementById("loginName").value = null;
                document.getElementById("loginPassword").value = null;
            }
        }

        function insertSampleRegister() {
            if (document.getElementById("sampleDataRegisterCheckbox").checked) {
                document.getElementById("registerFirstname").value = "Henning";
                document.getElementById("registerName").value = "Hedgefonds";
                document.getElementById("registerRadio3").checked = true;
                radioCheck(); // Set the binded Message to result of Rb
                document.getElementById("registerEMail").value = "henning" + Math.round(Math.random() * 10000) + ".hedgefonds@test.de";
                document.getElementById("registerStreet").value = "Taunausanlage";
                document.getElementById("registerHouseNumber").value = "12";
                document.getElementById("registerPostalCode").value = "60325";
                document.getElementById("registerCity").value = "Frankfurt";
                document.getElementById("registerCountry").value = "Germany";
                document.getElementById("registerPasswordClear").value = "test";
                document.getElementById("registerPasswordClear2").value = "test";
                document.getElementById("registerAGBs").checked = true;
                hashInputValueRegister();
            }
            else {
                document.getElementById("registerFirstname").value = "";
                document.getElementById("registerName").value = "";
                document.getElementById("registerRadio1").checked = true;
                document.getElementById("registerEMail").value = "";
                document.getElementById("registerStreet").value = "";
                document.getElementById("registerHouseNumber").value = "";
                document.getElementById("registerPostalCode").value = "";
                document.getElementById("registerCity").value = "";
                document.getElementById("registerCountry").value = "";
                document.getElementById("registerPasswordClear").value = "";
                document.getElementById("registerPasswordClear2").value = "";
                document.getElementById("registerAGBs").checked = false;
            }
        }

        function insertSampleNonCustomer() {
            if (document.getElementById("sampleNonCustomerCheckbox").checked) {
                document.getElementById("nonCustomerFirstname").value = "Hans-Peter";
                document.getElementById("nonCustomerName").value = "Baxxter";
                document.getElementById("nonCustomerEMail").value = "H.P@test.de";
                document.getElementById("nonCustomerStreet").value = "Fischmarkt";
                document.getElementById("nonCustomerHouseNumber").value = "503";
                document.getElementById("nonCustomerPostalCode").value = "26789";
                document.getElementById("nonCustomerCity").value = "Leer";
                document.getElementById("nonCustomerCountry").value = "Germany";
                document.getElementById("nonCustomerAGBs").checked = true;
            }
            else {
                document.getElementById("nonCustomerFirstname").value = null;
                document.getElementById("nonCustomerName").value = null;
                document.getElementById("nonCustomerEMail").value = null;
                document.getElementById("nonCustomerStreet").value = null;
                document.getElementById("nonCustomerHouseNumber").value = null;
                document.getElementById("nonCustomerPostalCode").value = null;
                document.getElementById("nonCustomerCity").value = null;
                document.getElementById("nonCustomerCountry").value = null;
                document.getElementById("nonCustomerAGBs").checked = false;
            }
        }




        function hashInputValueLogin() {
            //     Get the input element
            var passwordElement = document.getElementById("loginPassword");
            var saltElement = document.getElementById("loginName");

            //         Get the current value of the input element
            var inputValue = passwordElement.value + saltElement.value;

            // Calculate         the SHA-        256 hash of the in        put value
            var hash = CryptoJS.SHA256(inputValue);

            // Update the value of the input element with the has        h
            document.getElementById("hPwd").value = hash;
        }

        function hashInputValueRegister() {
            //     Get the input element
            var passwordElement = document.getElementById("registerPasswordClear");
            var saltElement = document.getElementById("registerEMail");

            //                 Get the current value of the inpu        t element
            var inputValue = passwordElement.value + saltElement.value;

            // Calculat        e         the SHA-                        256 hash of the in        put value
            var hash = CryptoJS.SHA256(inputValue);

            // Update the value of the input element with the         has        h
            document.getElementById("registerPassword").value = hash;

            //Second Field

            var passwordElement = document.getElementById("registerPasswordClear2");
            var saltElement = document.getElementById("registerEMail");

            var inputValue = passwordElement.value + saltElement.value;

            var hash = CryptoJS.SHA256(inputValue);

            document.getElementById("registerPassword2").value = hash;
        }

        function radioCheck() {
            if (document.getElementById("registerRadio1").checked) {
                document.getElementById("GenderInput").value = "male";
            }
            else if (document.getElementById("registerRadio2").checked) {
                document.getElementById("GenderInput").value = "female";
            }
            else if (document.getElementById("registerRadio3").checked) {
                document.getElementById("GenderInput").value = "divers";
            }
        }

        function radioCheckNonCustomer() {
            if (document.getElementById("nonCustomerRadio1").checked) {
                document.getElementById("nonCustomerGenderInput").value = "male";
            }
            else if (document.getElementById("nonCustomerRadio2").checked) {
                document.getElementById("nonCustomerGenderInput").value = "female";
            }
            else if (document.getElementById("nonCustomerregisterRadio3").checked) {
                document.getElementById("nonCustomerGenderInput").value = "divers";
            }
        }

        function getPDF(number, cfullname, cstreet, chouseNumber, cpostalCode, ccity, ccountry, pdataString) {
            var doc = new jsPDF();

            // Add invoice header information
            doc.setFontSize("Consolas");
            doc.setFontSize(22);
            doc.text("Rechnung", 14, 22);
            doc.setFontSize(12);

            // Add invoice details
            doc.setFontSize(12);
            doc.text(cfullname, 14, 45);
            doc.text(cstreet + " " + chouseNumber, 14, 50);
            doc.text(cpostalCode + " " + ccity, 14, 55);
            doc.text(ccountry, 14, 60);

            doc.text("Re: " + number, 14, 75);
            doc.text("Datum: " + new Date().toLocaleDateString(), 14, 80);
            // Add table for the order positions
            var x = 14;
            var y = 100;

            // Draw the table head
            doc.text("Name", x, y);
            doc.text("Menge", x + 70, y);
            doc.text("Einzelpreis", x + 110, y, 'right');
            doc.text("Gesamtpreis", x + 160, y, 'right');
            y += 2;

            // Draw horizontal lines for the head and each row
            doc.line(x, y, x + 160, y);
            y += 5;

            // Draw the table rows
            var subtotal = 0.00;

            const str = pdataString.split('$');


            for (var i = 0; i < str.length; i++) {
                const word = str[i].split(';');

                doc.text(word[0], x, y);
                doc.text(word[1], x + 70, y);
                doc.text(word[2] + "EUR", x + 110, y, 'right');
                doc.text(word[3] + "EUR", x + 160, y, 'right');
                y += 2;
                doc.line(x, y, x + 160, y);
                y += 5;
                subtotal += parseFloat(word[3].replace(',', '.'));
            }

            y += 10;




            // Draw the subtotal, tax, and total rows
            doc.text("Nettobetrag:", x, y);
            doc.text((subtotal / 1.19).toFixed(2).replace('.', ',') + " EUR", x + 60, y, 'right');

            doc.text("Umsatzsteuer:", x, y + 5,);
            doc.text((subtotal / 1.19 * 0.19).toFixed(2).replace('.', ',') + " EUR", x + 60, y + 5, 'right');

            doc.text("Total:", x, y + 10);
            doc.text((subtotal).toFixed(2).replace('.', ',') + " EUR", x + 60, y + 10, 'right');


            var pdfDataUri = doc.output('dataurlnewwindow');
        }



    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" id="central" asp-area="" asp-page="/Marketplace"><img width="50" height="50" src=@(logo.GetAsString()) />&nbsp;Hofer's Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="red-text" asp-area="" asp-page="/Marketplace">Marktplatz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="purpel-text" asp-area="" asp-page="/Basket">Warenkorb</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="darkblue-text" asp-area="" asp-page="/Impressum">Impressum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Code">Dokumentation</a>
                        </li>
                        <li class="nav-item ml-auto" id="loginli">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">@(wk.Customer == null ? "Anmelden" : $"{wk.Customer.Firstname} {wk.Customer.Lastname}")</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="custom pb-3" id="globalstylemain">
            <br />
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Hofer's Shop - <a asp-area="" asp-page="/Impressum">Impressum</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
