@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<head>
    <title>PDF Viewer</title>
</head>
<body>

    <h1>Allgemeine Verkaufsbedingungen</h1>
   
    <h2>I. Geltungsbereich</h2>

    1. Diese Verkaufsbedingungen gelten ausschließlich gegenüber Unternehmern,
    juristischen Personen des öffentlichen Rechts oder öffentlich-rechtlichen
    Sondervermögen im Sinne von Paragraf 310 Absatz 1 BGB. Entgegenstehende oder
    von unseren Verkaufsbedingungen abweichende Bedingungen des Bestellers erkennen
    wir nur an, wenn wir ausdrücklich schriftlich der Geltung zustimmen.
    <br />
    <br />
    2. Diese Verkaufsbedingungen gelten auch für alle zukünftigen Geschäfte mit dem
    Besteller, soweit es sich um Rechtsgeschäfte verwandter Art handelt (vorsorglich sollten
    die Verkaufsbedingungen in jedem Fall der Auftragsbestätigung beigefügt werden).
    <br />
    <br />
    3. Im Einzelfall getroffene, individuelle Vereinbarungen mit dem Käufer (einschließlich
    Nebenabreden, Ergänzungen und Änderungen) haben in jedem Fall Vorrang vor diesen
    Verkaufsbedingungen. Für den Inhalt derartiger Vereinbarungen ist, vorbehaltlich des
    Gegenbeweises, ein schriftlicher Vertrag bzw. unsere schriftliche Bestätigung
    maßgebend.
    <br />
    <br />

    <h2>II. Angebot und Vertragsabschluss</h2>

    Sofern eine Bestellung als Angebot gemäß Paragraf 145 BGB anzusehen ist, können wir
    diese innerhalb von zwei Wochen annehmen.
    <br />
    <br />

    <h2>III. Überlassene Unterlagen</h2>
    An allen in Zusammenhang mit der Auftragserteilung dem Besteller überlassenen Unterlagen
    – auch in elektronischer Form –, wie z. B. Kalkulationen, Zeichnungen etc., behalten wir uns
    Eigentums- und Urheberrechte vor. Diese Unterlagen dürfen Dritten nicht zugänglich
    gemacht werden, es sei denn, wir erteilen dazu dem Besteller unsere ausdrückliche
    schriftliche Zustimmung. Soweit wir das Angebot des Bestellers nicht innerhalb der Frist von
    Abschnitt II annehmen, sind diese Unterlagen uns unverzüglich zurückzusenden.
    IV. Preise und Zahlung
    <br />
    <br />
    1. Sofern nichts Gegenteiliges schriftlich vereinbart wird, gelten unsere Preise ab Werk
    ausschließlich Verpackung und zuzüglich Mehrwertsteuer in jeweils gültiger Höhe.
    Kosten der Verpackung werden gesondert in Rechnung gestellt.
    <br />
    <br />
    2. Die Zahlung des Kaufpreises hat ausschließlich auf das umseitig genannte Konto zu
    erfolgen. Der Abzug von Skonto ist nur bei schriftlicher besonderer Vereinbarung
    zulässig.
    <br />
    <br />
    3. Sofern nichts anderes vereinbart wird, ist der Kaufpreis bis zum - konkretes Datum – zu
    zahlen (Alternativen: „... innerhalb von 10 Tagen nach Lieferung zu zahlen“, oder „...
    innerhalb von 21 Tagen nach Rechnungsstellung zahlbar“). Verzugszinsen werden in
    Höhe von 8 % über dem jeweiligen Basiszinssatz p.a. (siehe Anlage 1) berechnet. Die
    Geltendmachung eines höheren Verzugsschadens bleibt vorbehalten.
    <br />
    <br />
    4. Sofern keine Festpreisabrede getroffen wurde, bleiben angemessene Preisänderungen
    wegen veränderter Lohn-, Material- und Vertriebskosten für Lieferungen, die 3 Monate
    oder später nach Vertragsabschluss erfolgen, vorbehalten.
    <br />
    <br />
    <h2>V. Sonstiges</h2>
    1. Dieser Vertrag und die gesamten Rechtsbeziehungen der Parteien unterliegen dem
    Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts (CISG).
    <br />
    <br />
    2. Erfüllungsort und ausschließlicher Gerichtsstand und für alle Streitigkeiten aus diesem
    Vertrag ist unser Geschäftssitz, sofern sich aus der Auftragsbestätigung nichts anderes
    ergibt. (Hinweis: Die Verwendung der Klausel ist unzulässig, wenn mindestens eine der
    Parteien ein nicht im Handelsregister eingetragenes Unternehmen ist, also kein
    Kaufmann/keine Kauffrau ist.)
    <br />
    <br />
    3. Alle Vereinbarungen, die zwischen den Parteien zwecks Ausführung dieses Vertrages
    getroffen werden, sind in diesem Vertrag schriftlich niedergelegt.
    Anhang 1:
    Anmerkungen
    Obwohl die Klauselverbote der Katalogtatbestände der Paragrafen 308, 309 BGB gem.
    Paragraf 310 Abs. 1 BGB nicht für AGBs gelten, die gegenüber Unternehmern i. S. d.
    Paragraf 14 BGB verwandt werden, ist nicht im Umkehrschluss automatisch davon
    auszugehen, dass die Verwendung von Klauseln wie die in den Paragrafen 308, 309 BGB
    genannt gegenüber Unternehmern im Regelfall der Inhaltskontrolle der Paragrafen 305 ff.
    BGB standhalten. Gemäß Paragraf 307 Abs. 1, 2 Nr. 1 BGB, der auch bei der Verwendung
    von AGBs gegenüber Unternehmern gilt, ist eine unangemessene Benachteiligung des
    Vertragspartners im Zweifel anzunehmen, wenn die Klausel mit wesentlichen
    Grundgedanken der gesetzlichen Regelung, von der abgewichen wird, nicht vereinbar ist.
    Dies führt nach der Rechtsprechung dazu, dass die Klauselverbotskataloge der Paragrafen
    308, 309 BGB über die Auslegung des Paragraf 307 BGB auch im kaufmännischen Verkehr
    indirekte Bedeutung erlangen.
    Die Klauselverbote des Paragraf 308 BGB sind dabei in der Regel auf den Verkauf zwischen
    Unternehmern übertragbar, weil in ihren Wertungsspielräumen die kaufmännischen
    Besonderheiten berücksichtigt werden. Dagegen ist bei den Verboten des Paragraf 309 BGB
    eine derart pauschale Lösung nicht möglich, der Verstoß gegen Paragraf 309 ist aber auch
    beim Verkauf zwischen Unternehmern ein Indiz für die Unwirksamkeit der Klausel. Hier
    empfiehlt sich, vor der Verwendung der AGBs eine Einzelfallprüfung durch einen
    Rechtskundigen vornehmen zu lassen.
    Transparenzgebot
    Dieses Gebot bedeutet, dass eine Klausel in AGB im Zweifel auch dann unangemessen
    benachteiligend ist, wenn sie nicht klar und verständlich ist. Dieses Gebot bedeutet, dass
    intransparente Klauseln per se, ohne Hinzutreten einer inhaltlichen unangemessenen
    Benachteiligung des Vertragspartners, als unwirksam zu betrachten sind. Ferner bedeutet
    dies auch, dass das Transparenzgebot auch für Preisbestimmungen und
    leistungsbeschreibende Klauseln, die grundsätzlich von der Inhaltskontrolle ausgenommen
    sind, gilt.
    Gewährleistungsfristen
    Bei Kauf- und Werkvertrag beträgt die Gewährleistungsfrist zwei Jahre. Durch AGB kann die
    Gewährleistungsfrist wie folgt verkürzt werden:
    Bewegliche Sachen außer Baumaterialien:
    Neu Käufer ist Verbraucher Zwei Jahre
    Käufer ist Unternehmer Ein Jahr
    Gebraucht Käufer ist Verbraucher Ein Jahr
    Käufer ist Unternehmer Keine
    Baumaterialien (sofern eingebaut):
    Neu Fünf Jahre
    Gebraucht Käufer ist Verbraucher Ein Jahr
    Käufer ist Unternehmer Keine
    Unbebaute Grundstücke:
    Bauwerke
    Neubau Fünf Jahre
    Altbau Keine
    Mängelanzeigepflicht
    Für nicht offensichtliche Mängel darf die Mängelanzeigefrist nicht kürzer als ein Jahr in den
    AGB gesetzt werden. Fristbeginn ist der gesetzliche Verjährungsbeginn.
    Aufwendungsersatz bei Nacherfüllung
    Der Verkäufer hat gemäß Paragraf 439 Abs. 2 BGB die zum Zwecke der Nacherfüllung
    erforderlichen Aufwendungen (z. B. Transport-, Wege-, Arbeits- und Materialkosten) zu
    tragen. Diese Pflicht darf durch AGB nicht ausgeschlossen werden.
    Mängelhaftung – Verkäufer muss Aus- und Einbaukosten übernehmen
    Die gesetzliche Vorschrift zur Nacherfüllung gem. Paragraf 439 Abs. 3 S. 1 des Bürgerlichen
    Gesetzbuches (BGB) bestimmt, dass der Verkäufer im Rahmen der Nacherfüllung
    verpflichtet ist, dem Käufer die notwendigen Aufwendungen für den Aus- und Einbau oder
    die Anbringung der mangelfreien Sache zu ersetzen, wenn der Käufer die mangelhafte
    Sache gemäß ihrer Art und ihrem Verwendungszweck in eine andere Sache eingebaut oder
    an eine andere Sache angebracht hat. Gemäß Paragraf 445a BGB kann der Verkäufer
    darüber hinaus seinen Lieferanten in Regress zu nehmen. Der Verkäufer haftet aber nur
    dann, wenn der Käufer gutgläubig war. Die Rechte des Käufers sind mithin ausgeschlossen,
    wenn der Käufer im Zeitpunkt des Einbaus den Mangel kannte oder infolge grober
    Fahrlässigkeit nicht kannte.
    Beschränkung auf Nacherfüllung
    Der Käufer kann bei einer mangelhaften Sache als Nacherfüllung nach seiner Wahl die
    Beseitigung des Mangels oder die Lieferung einer mangelfreien Sache oder bei Vorliegen
    der Voraussetzungen auch Schadenersatz verlangen. Erst wenn die Nacherfüllung nicht
    gelingt, nicht möglich oder nicht zumutbar ist, kann der Käufer – in zweiter Linie –
    Gewährleistungsrechte geltend machen: Rücktritt oder Minderung. Beschränkungen allein
    auf die Nacherfüllung sind unwirksam, wenn dem anderen Vertragsteil bei Fehlschlagen der
    Nacherfüllung das Minderungsrecht aberkannt wird.
    Haftungsbeschränkungen
    Jeder Ausschluss oder eine Begrenzung der Haftung für Schäden aus der Verletzung des
    Lebens, des Körpers oder der Gesundheit, die auf einer vorsätzlichen oder fahrlässigen
    Pflichtverletzung des Verwenders oder einer vorsätzlichen oder fahrlässigen
    Pflichtverletzung eines gesetzlichen Vertreters oder Erfüllungsgehilfen des Verwenders
    beruhen, ist unwirksam.
    Höhe der Verzugszinsen
    Ab Beginn des Verzugs schuldet der Käufer dem Verkäufer zusätzlich zum Kaufpreis
    Verzugszinsen. Ist an dem Kaufvertrag ein Verbraucher beteiligt, sei es als Käufer oder als
    Verkäufer, beträgt der Zinssatz 5 % über dem Basiszinssatz. Bei Kaufverträgen zwischen
    Unternehmern wird der Zinssatz durch die Schuldrechtsreform auf 8 % über dem
    Basiszinssatz erhöht.
    Unter
    <a href="https://www.bundesbank.de/de/bundesbank/organisation/agb-und-regelungen/">https://www.bundesbank.de/de/bundesbank/organisation/agb-und-regelungen/</a>
    basiszinssatz-607820 können die aktuellen Basiszinssätze ermittelt werden.
</body>
</html>
